@import url('base.css');
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: none;
}
a{
	text-decoration: none;
}
body{
	background: #F4F4F4;
}
/*头部开始*/
.header{
	width: 100%;
	height: 0.92rem;
	background: linear-gradient(90deg,#0af,#0085ff);
	overflow: hidden;
	position: fixed;
	top: 0rem;
	left: 0rem;
	z-index: 900;
}
.header-c{
	width: 92%;
	height: 0.72rem;
	margin: 0.1rem auto;
} 
.header-c img{
	width: 0.34rem;
	height: 0.54rem;
	float: left;
	margin-top: 0.09rem;
}
.header-c span{
	display: block;
	width: auto;
	height: 0.72rem;
	margin: 0 auto;
	font-size: 0.44rem;
	font-weight: 700;
	color: #fff;
	line-height: 0.72rem;
	text-align: center;
} 
/*头部结束*/
/*订单配送地址开始*/
.address{
	width:100%;
	height: 1.9rem;
	background: linear-gradient(90deg,#0af,#0085ff);
	margin-top: 0.92rem;
}
.add{
	width: 6.92rem;
	height: 1.9rem;
	margin: 0 auto;
	overflow: hidden;
}
.add-text-1{
	width: 6.92rem;
	height: 0.36rem;
	margin-bottom: 0.06rem;
	margin-top: 0.08rem;
}
.add-text-1 h2{
	width: auto;
	height: 0.36rem;
	float: left;
	font-size: 0.24rem;
	color:#fff;
	line-height: 0.36rem;
	margin-right: 0.1rem;
}
.add-text-1 span{
	display: block;
	width: auto;
	height: 0.28rem;
	float: left;
	border: 0.01rem solid #fff;
	font-size: 0.18rem;
	color: #fff;
	line-height: 0.28rem;
	margin-top: 0.04rem;
}
.add-text-2{
	width: 6.92rem;
	height: 0.82rem;
	/*background: #fff;*/
	margin-bottom: 0.06rem;
}
.add-text-2 p{
	width: 6.68rem;
	height: 0.82rem;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.4rem;
	color:#fff;
	font-weight: 700;
	line-height: 0.82rem;
}
.add-text-2 i{
	display: block;
	width: 0.24rem;
	height: 0.82rem;
	float: right;
	font-size: 0.3rem;
	font-weight: 700;
	color:#fff;
	line-height: 0.82rem;
	text-align: right;
}
.add-text-3{
	width: 6.92rem;
	height: 0.4rem;
}
.add-text-3 span{
	width: auto;
	height: 0.4rem;
	float: left;
	font-weight: 500;
	font-size: 0.28rem;
	color:#fff;
	line-height: 0.4rem;
	margin-right: 0.1rem;
}
/*订单配送地址结束*/
/*送达时间开始*/
.Time{
	width: 7.5rem;
	/*height: 2.63rem;*/
	height: 3.2rem;
	background: linear-gradient(90deg,#0af,#0085ff);
}
.time{
	width: 6.92rem;
	height:2.34rem;
	margin: 0 auto;
	background: #fff;
}
.time-t{
	width: 6.46rem;
	height: 1.34rem;
	/*background: green;*/
	margin: 0 auto;
	border-bottom: 0.01rem solid #F9F9F9;
}
.time-t-l{
	width: 2rem;
	height: 1.34rem;
	float: left;
}
.time-t-l span{
	display: block;
	width: auto;
	height: 0.4rem;
	margin-top: 0.28rem;
	font-size: 0.32rem;
	color: #333;
	line-height: 0.4rem;
	margin-bottom: 0.08rem;
}
.time-t-l h4{
	width: 1.1rem;
	height: 0.28rem;
	background: linear-gradient(90deg,#00A9FF,#0086FF);
	border-radius: 0.02rem;
	font-size: 0.24rem;
	color: #fff;
	line-height: 0.28rem;
	text-align: center;
}
.time-t-r{
	width: auto;
	height: 0.4rem;
	float: right;
	/*background:pink;*/
	margin-top: 0.47rem;
}
.time-t-r p{
	width: auto;
	height: 0.4rem;
	float:left;
	font-size: 0.3rem;
	color: #2395ff;
	line-height: 0.4rem;
	font-weight: 500;
	text-align: right;
}
.time-t-r i{
	width: 0.24rem;
	height: 0.4rem;
	float: right;
	font-size: 0.24rem;
	color:rgb(209,209,214);
	line-height: 0.46rem;
	text-align: right;
	margin-left: 0.14rem;
}
.time-b{
	width: 6.46rem;
	height: 1rem;
	margin: 0 auto;
}
.time-b span{
	width: auto;
	height: 0.44rem;
	float: left;
	font-size: 0.32rem;
	color: #333;
	line-height: 0.44rem;
	margin-top: 0.28rem;
}
.time-b em{
	width: auto;
	height: 0.44rem;
	float: right;
	font-size: 0.32rem;
	color: #2395ff;
	line-height: 0.44rem;
	margin-top: 0.28rem;
}
.order{
	width: 6.92rem;
	height: 6.6rem;
	background: #fff;
	margin: 0 auto;
	margin-top: 0.29rem;
	overflow: hidden;
}
.order h3{
	width: 6.64rem;
	height: 1.08rem;
	margin: 0 auto;
	font-size: 0.38rem;
	font-weight: 700;
	color:#333;
	line-height: 1.08rem;
	border-bottom: 0.01rem solid #F2F2F2;
	margin-left: 0.29rem;
}
.order-2{
	width: 6.64rem;
	height: 1.22rem;
	margin : 0 auto;
	border-bottom: 0.01rem solid #F9F9F9;
}
.order-2 img{
	width: 0.72rem;
	height: 0.72rem;
	float: left;
	margin-top: 0.25rem;
	margin-left: 0.14rem;
}
.order-2 p{
	width: 3rem;
	height: 0.34rem;
	float: left;
	margin-top: 0.44rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.3rem;
	color:#5E5E5E;
	font-weight: 400;
	line-height: 0.34rem;
	margin-left: 0.2rem;	
}
.order-2 h4{
	width: auto;
	height: 0.28rem;
	margin-top: 0.47rem;
	float: left;
	font-size: 0.28rem;
	color:#5E5E5E;
	line-height: 0.28rem;
}
.order-2 span{
	display: block;
	width: auto;
	height: 0.38rem;
	float: right;
	margin-top: 0.42rem;
	font-size: 0.3rem;
	color:#484848;
	font-weight: 400;
	line-height: 0.38rem;
	margin-right: 0.2rem;
}
.order-3{
	width: 6.64rem;
	height:1.02rem;
	margin: 0 auto;
	border-bottom: 0.01rem solid #F9F9F9;
}
.order-3-l{
	width: 0.56rem;
	height: 0.28rem;
	background: #F0F3F6;
	float: left;
	margin-top: 0.37rem;
	font-size: 0.24rem;
	color:#484848;
	line-height: 0.28rem;
	text-align: center;
	color: #939598;
	margin-left: 0.2rem;
}
.order-3 em{
	display: block;
	width: auto;
	height: 0.28rem;
	float: left;
	margin-top: 0.37rem;
	margin-left: 0.2rem;
	font-size: 0.3rem;
	color:#5E5E5E;
	font-weight: 400;
	line-height: 0.28rem;
}
.order-3 span{
	display: block;
	width: auto;
	height: 0.38rem;
	float: right;
	margin-top: 0.32rem;
	font-size: 0.3rem;
	color:#484848;
	font-weight: 400;
	line-height: 0.38rem;
	margin-right: 0.2rem;
}
.order-4-l{
	width: 0.56rem;
	height: 0.28rem;
	background: #60ACF4;
	float: left;
	margin-top: 0.37rem;
	font-size: 0.24rem;
	color:#484848;
	line-height: 0.28rem;
	text-align: center;
	color: #939598;
	margin-left: 0.2rem;
}
.order-5-l{
	width: 0.56rem;
	height: 0.28rem;
	background: #FF7239;
	float: left;
	margin-top: 0.37rem;
	font-size: 0.24rem;
	color:#484848;
	line-height: 0.28rem;
	text-align: center;
	color: #939598;
	margin-left: 0.2rem;
}
.order-4{
	width: 6.64rem;
	height:1.02rem;
	margin: 0 auto;
	border-bottom: 0.01rem solid #F9F9F9;
}
.order-4 em{
	display: block;
	width: auto;
	height: 0.28rem;
	float: left;
	margin-top: 0.37rem;
	margin-left: 0.2rem;
	font-size: 0.3rem;
	color:#5E5E5E;
	font-weight: 400;
	line-height: 0.28rem;
}
.order-4 span{
	display: block;
	width: auto;
	height: 0.38rem;
	float: right;
	margin-top: 0.32rem;
	font-size: 0.3rem;
	color:#484848;
	font-weight: 400;
	line-height: 0.38rem;
	margin-right: 0.2rem;
}
.order-6{
	width: 6.64rem;
	height: 1.18rem;
	margin: 0 auto;
}
.order-6-l{
	width: 1.36rem;
	height: 0.32rem;
	float: left;
	margin-top: 0.43rem;
	margin-left: 0.2rem;
}
.order-6-l span{
	display: block;
	width: auto;
	height:0.32rem;
	float: left;
	font-size: 0.18rem;
	color: #bbb;
	line-height: 0.32rem;
}
.order-6-l i{
	display: block;
	width: 0.28rem;
	height: 0.28rem;
	float: left;
	font-size: 0.18rem;
	color: #bbb;
	line-height: 0.38rem;
}
.order-6-r{
	width: auto;
	height: 0.52rem;
	float: right;
	margin-top: 0.33rem;
	margin-right: 0.2rem;
}
.order-6-r p{
	width: auto;
	height: 0.52rem;
	float:  left;
	font-size: 0.2rem;
	line-height: 0.56rem;
	color:#333333;
}
.order-6-r span{
	display: block;
	width: auto;
	height: 0.52rem;
	font-size: 0.3rem;
	float:left;
	line-height: 0.52rem;
	color:#333333;
}
.HY{
	width: 100%;
	height: 1.42rem;
	margin-top: 6.29rem;
}
.hy{
	width: 6.92rem;
	height: 1.42rem;
	margin: 0 auto;
	background: #fff;
}
.hy-left{
	width: auto;
	height: 0.74rem;
	float: left;
	margin-top: 0.34rem;
	margin-left: 0.29rem;
}
.hy-left h3{
	width: auto;
	height: 0.36rem;
	font-size: 0.34rem;
	color:#333;
	font-weight: 700;
	line-height: 0.36rem;
	margin-bottom: 0.1rem;	
}
.hy-left p{
	width: auto;
	height: 0.36rem;
	font-size: 0.22rem;
	color:#999;
	line-height: 0.36rem;
}
.hy-right{
	width: auto;
	height: 0.46rem;
	float: right;
	margin-top: 0.48rem;
}
.hy-right span{
	display: block;
	width: auto;
	height:0.46rem;
	float:left;
	font-size: 0.28rem;
	color: #333;
	line-height: 0.46rem;
	margin-right:0.3rem;
}
.hy-right i{
	width: 0.46rem;
	height: 0.46rem;
	background: #fff;
	float: right;
	border-radius: 50%;
	font-size: 0.6rem;
	color: #EEEEEE;
	line-height: 0.46rem;
	text-align: center;
	margin-right: 0.29rem;
}
/*送达时间结束*/
.Canj{
	width: 100%;
	height: 6.46rem;
	height: 2.46rem;
	margin-top: 0.29rem;
	margin-bottom: 1.76rem;
}
.canj{
	width: 6.92rem;
	height: 2.46rem;
	margin: 0 auto;
	overflow: hidden;
	background: #fff;
}
.canj-top{
	width: 6.46rem;
	height: 1.2rem;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 0.25rem;
	border-bottom: 0.01rem solid #F9F9F9;
}
.canj-top-t{
	width: 6.46rem;
	height: 0.36rem;
	margin-top:0.14rem;
	margin-bottom: 0.1rem;
}
.canj-top-t h3{
	width: auto;
	height: 0.36rem;
	float: left;
	font-size: 0.3rem;
	color: #333;
	font-weight: 500;
	line-height: 0.36rem;
}
.canj-top-t span{
	width: auto;
	height: 0.36rem;
	float: left;
	font-size: 0.28rem;
	color: #999;
	font-weight: 400;
	line-height: 0.36rem;
	margin-left: 3.96rem;
}
.canj-top-t i{
	width: 0.24rem;
	height: 0.36rem;
	float: right;
	font-size: 0.28rem;
	color: #999;
	font-weight: 400;
	line-height: 0.38rem;
}
.canj-top-b{
	width: 6.46rem;
	height: 0.32rem;
}
.canj-top-b img{
	width: 0.32rem;
	height: 0.32rem;
	float: left;
}
.canj-top-b span{
	display: block;
	width: auto;
	height: 0.32rem;
	float: left;
	font-size: 0.22rem;
	color: #0bb473;
	font-weight: 400;
	line-height: 0.32rem;
	margin-left: 0.2rem;
}
.canj-bottom{
	width: 6.46rem;
	height: 0.8rem;
	margin: 0 auto;
}
.canj-bottom p{
	width: auto;
	height: 0.8rem;
	float:left;
	font-size: 0.3rem;
	color: #333;
	font-weight: 500;
	line-height: 0.8rem;
}
.canj-bottom span{
	width: auto;
	height: 0.8rem;
	float:left;
	font-size: 0.28rem;
	color: #999;
	font-weight: 400;
	line-height: 0.8rem;
	margin-left: 3.4rem;
}
.canj-bottom i{
	width: auto;
	height: 0.8rem;
	float:right;
	font-size: 0.28rem;
	color: #999;
	font-weight: 400;
	line-height: 0.8rem;
}
/*选购商品底部开始*/
footer{
	width: 100%;
	height: 1.41rem;
	background: rgba(61,61,63,0.9);
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999;
}
.footer-c{
	width: auto;
	height: 1.41rem;
	float: left;
}
.footer-c h3{
	width: auto;
	height: 0.56rem;
	font-size: 0.42rem;
	color: #fff;
	line-height: 0.56rem;
	font-weight: 400;
	margin-top: 0.42rem;
	margin-left: 0.29rem;
	float: left;
	margin-right: 0.2rem;
}
.footer-c span{
	display: block;
	width: auto;
	height: 0.38rem;
	color: #999;
	line-height: 0.38rem;
	font-weight: 400;
	font-size: 0.24rem;
	float: left;
	margin-top: 0.5rem;
	margin-right: 0.1rem;
}
.footer a{
	display: block;
	width: 2.6rem;
	height: 1.41rem;
	background: #00E067;
	float: right;
}
.footer a:hover{
	background:#0085FF;
}
.footer a span{
	display: block;
	width: auto;
	height: 0.68rem;
	margin: 0.36rem auto;
	font-size: 0.38rem;
	color: #fff;
	line-height: 0.68rem;
	text-align: center;
	font-weight: 700;
}
/*选购商品底部结束*/