@import url('base.css');
*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: none;
}
a{
	text-decoration: none;
}
header{
	padding: 0.15rem 0.34rem;
	box-sizing: border-box;
	width: 100%;
	height: 0.87rem;
	background: linear-gradient(90deg,#0af,#0085ff);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
header>a>i{
	display: block;
	color: #fff;
}
/*header 结束*/
/* title 开始 */
.title{
	height: 1.50rem;
	width: 100%;
	background: linear-gradient(90deg,#0af,#0085ff);
	margin-top: 0.86rem;
	padding-left: 0.47rem;
	box-sizing: border-box;
	position: relative;
}
.title>h2{
	font-size:0.44rem ;
	color:#fff ;
}
.title .money{
	padding: 0 0.12rem;
	box-sizing: border-box;
	width: 6.82rem;
	height: 1.24rem;
	background: #fff;
	border-radius: 0.08rem;
	box-shadow: 0 0.03rem 0.05rem 0.02rem rgba(0, 0, 0, 0.3);
	position: absolute;
	left: 0;
	right: 0;
	bottom: -0.62rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title .money>img{
	display: block;
	width: 0.65rem;
	height: 0.65rem;
}
.title .money>h3{
	color: #000;
	font-size: 0.32rem;
	width: 3.27rem;
}
.title .money>h4{
	color: #e63c5a;
	font-size: 0.32rem;
	text-align: right;
	width: 1.63rem;
}
/* title 结束 */
/* card_pass 开始 */
.card_pass{
	width: 100%;
	height: 5.65rem;
	background: #fff;
	margin-top: 1rem;
	padding-top: 0.4rem;
	box-sizing: border-box;
	position: relative;
}
.card_pass>img{
	width: 5.64rem;
	height: 3.48rem;
	margin: 0 auto;
}
.card_pass .screen{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2.76rem;
	background: rgba(255, 255, 255, 0.6);
	padding: 0.68rem 1.53rem;
	box-sizing: border-box;
}
.card_pass .screen .screen_top{
	margin: 0 auto;
	width: 3.95rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.75rem;
}
.card_pass .screen .screen_top .list{
	width: 0.34rem;
	display: flex;
	justify-content: space-between;
}
.card_pass .screen .screen_top>h2{
	font-size: 0.24rem;
	color: rgba(0, 0, 0, 0.7);

}
.card_pass .screen .screen_top .list>i{
	display: block;
	width: 0.09rem;
	height: 0.09rem;
	background: #e63c5a;
	border-radius: 50%;
}
.card_pass .screen .screen_top .list:first-child>i:first-child{
	background: rgba(230, 60, 90, 0.3);
}
.card_pass .screen .screen_top .list:first-child>i:nth-child(2){
	background: rgba(230, 60, 90, 0.7);
}
.card_pass .screen .screen_top .list:last-child>i:last-child{
	background: rgba(230, 60, 90, 0.3);
}
.card_pass .screen .screen_top .list:last-child>i:nth-child(2){
	background: rgba(230, 60, 90, 0.7);
}
.card_pass .screen .pass .pass_num{
	width: 100%;
	height: 0.25rem;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	margin-bottom: 0.19rem;
}
.card_pass .screen .pass .pass_num>li{
	font-size: 0.32rem;
	width: 0.16rem;
	height: 0.16rem;
	background: #646464;
	border-radius: 50%;
}
.card_pass .screen .pass .pass_num>li:nth-child(3){
	align-self: flex-start;
}
.card_pass .screen .pass .pass_num>li:nth-last-child(-n+4){
	background: #fff;
}
.card_pass .screen .pass{
	width: 4.4rem;
}
.card_pass .screen .pass .line{
	width: 100%;
	height: 0.08rem;
	display: flex;
	justify-content: space-between;
}
.card_pass .screen .pass .line .active{
	background: #7d7d7d;
}
.card_pass .screen .pass .line>li{
	flex-shrink: 0;
	width: 0.6rem;
	height: 100%;
	background: #c9c9c9;
	border-radius: 0.04rem;
}
/* card_pass 结束 */
/* key 开始 */
.key{
	width: 100%;
	height: 4.29rem;
	background: #dcdfe5;
	position: fixed;
	bottom: 0;
	left: 0;
}
.key>ul{
	width: 100%;
	height: 100%;
	padding: 0.1rem;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-content: space-between;
}
.key>ul>li{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding: 0.13rem 0;
	box-sizing: border-box;
	flex-shrink: 0;
	width: 2.35rem;
	height: 0.92rem;
	border-radius: 0.08rem;
	background: #fff;
	box-shadow: 0 0.03rem 0.05rem 0.02rem rgba(0, 0, 0, 0.3);
	color:#000;
	font-weight: bold;
}

.key>ul>li:nth-child(10){
	background:#dcdfe5; 
	box-shadow: none;
}
.key>ul>li:last-child{
	padding-left: 0.8rem;
	box-sizing: border-box;
	color: #5c6067;
	text-align: right;
	line-height: 0.66rem;
	font-size: 0.66rem;
	background:#dcdfe5; 
	box-shadow: none;
}
.key>ul>li .num{
	width: 100%;
	display: block;
	font-size: 0.44rem;
}
.key>ul>li .zimu{
	width: 100%;
	display: block;
	font-size: 0.20rem;
}
.key>ul>li>a{
	display: block;
	width: 100%;
}
/* key 结束 